/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400&display=swap');

/*
========================================
    Table of Conents
        01. base
            a. elements
            b. typography
        02. layout
        03. modules
        04. state
========================================
*/


/*
====================
    01. base
====================
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: hsl(0, 0%, 15%);
    font-family: 'Roboto', sans-serif;
}
    
body {
    background-color:hsl(0, 0%, 97.5%);
}

canvas {
    width: 100%;
    height: 100%;
    -ms-touch-action: none;
        touch-action: none;
    outline: none;
}

footer {
    width: 100%;
    height: auto;
    border-top: .5px solid rgba(0,0,0,.25);
    background-color: rgba(225,222,217,.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media only screen and (max-width: 600px) {
    footer h3 {
        font-size: 3.5vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    footer h3 {
        font-size: 3.5vw;
    }
}

hr {
  width: 100%;
  border: none;
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.25);
}

ul {
    list-style-type: none;
    padding: 0;
  }
  
li {
    margin: 8px 0 8px 0;
}

@media only screen and (max-width: 600px) {
    li {
        font-size: 3vw;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    li {
        font-size: 3vw;
    }
}

a {
    text-decoration: none;
    color: black;
    font-size: 1vw;
    opacity: 0;
    cursor: pointer;
}

p {
    font-size: 1.215vw;
    font-weight: 100;
    margin: 0;
}

/*
====================
    02. layout
====================
*/

.l-footer-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 16.667% 16.667% 16.667% 50%;
    grid-template-columns: 16.667% 16.667% 16.667% 50%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    grid-template-areas: 'block-a block-b block-c form';
}

@media only screen and (max-width: 600px) {
    .l-footer-links {
        -ms-grid-columns: 33.333% 33.333% 33.333%;
        grid-template-columns: 33.333% 33.333% 33.333%;
        -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
        'block-a block-c block-b' 
        'form form form';
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-footer-links {
        -ms-grid-columns: 33.333% 33.333% 33.333%;
        grid-template-columns: 33.333% 33.333% 33.333%;
        -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
        'block-a block-c block-b' 
        'form form form';
    }
}

.l-footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

}

@media only screen and (max-width: 600px) {
    .l-footer-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 1vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-footer-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 1vw;
    }
}

.l-footer-links > div, .l-footer-bottom > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 1.5vw;
    padding: 2vw;
}

.l-info {
    width: 75%;
    display: block;
    margin: 33.333vh auto 0 auto;
    color: hsl(0, 0%, 15%);
}

@media only screen and (max-width: 600px) {
    .l-info {
        margin: 8.33325vh auto
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-info {
        margin: 8.33325vh auto
    }
}

.l-info-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33.333% 33.333% 33.333%;
    grid-template-columns: 33.333% 33.333% 33.333%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    row-gap: 31vh;
    grid-template-areas: 
    'info-text-a info-text-a info-img-a'
    'info-text-b info-text-b info-img-b'
    'info-text-c info-text-c info-img-c'
    'info-text-d info-text-d info-text-d';
}

@media only screen and (max-width: 600px) {
    .l-info-grid {
        row-gap: 1vh;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: 33.333vh 1vh 33.333vh 1vh 33.333vh 1vh 33.333vh 1vh 33.333vh 1vh 33.333vh;
        grid-template-rows: repeat(6, 33.333vh);
        grid-template-areas: 
        'info-img-a'
        'info-text-a'
        'info-img-b'
        'info-text-b'
        'info-img-c'
        'info-text-c';
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-info-grid {
        row-gap: 1vh;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: 33.333vh 1vh 33.333vh 1vh 33.333vh 1vh 33.333vh 1vh 33.333vh 1vh 33.333vh;
        grid-template-rows: repeat(6, 33.333vh);
        grid-template-areas: 
        'info-img-a'
        'info-text-a'
        'info-img-b'
        'info-text-b'
        'info-img-c'
        'info-text-c';
    }
}

.l-info-grid > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.l-info-text, .l-info-img {
    height: 50vh;
}

.l-info-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.25vw;
    font-weight: 100;
}

@media only screen and (max-width: 600px) {
    .l-info-text {
        font-size: 4.25vw;
        height: 33.333vh;
        border-radius: 5px;
        -webkit-box-shadow: inset 3px 3px 25px hsl(0, 0%, 97.5%);
                box-shadow: inset 3px 3px 25px hsl(0, 0%, 97.5%);
    } 
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-info-text {
        font-size: 4.25vw;
        height: 33.333vh;
        border-radius: 5px;
        -webkit-box-shadow: inset 3px 3px 25px hsl(0, 0%, 97.5%);
                box-shadow: inset 3px 3px 25px hsl(0, 0%, 97.5%);
    } 
}


.l-info-img img{
    max-width: 90%;
}

@media only screen and (max-width: 600px) {
    .l-info-img {
        height: 33.333vh;
    }

    .l-info-img img {
        max-height: 75%;
        width: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-info-img {
        height: 33.333vh;
    }

    .l-info-img img {
        max-height: 75%;
        width: auto;
    }
}

.l-product {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: product;
}

@media only screen and (max-width: 600px) {
    .l-product {
        width: 50%;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-product {
        width: 50%;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
    }
}

.l-specs {
    width: 75%;
    height: 37.5%;
    border: 0.5px solid hsl(0, 0%, 15%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 16.666% auto;
}

@media only screen and (max-width: 600px) {
    .l-specs {
        height: 90%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-specs {
        height: 90%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border: none;
    }
}

.l-splash {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 60vh 40vh;
    grid-template-rows: 60vh 40vh;
    grid-template-areas: 
        'product title'
        'product splash-btn';
}

@media only screen and (max-width: 600px) {
    .l-splash {
        -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
        -ms-grid-rows: 17.5vh 65vh 17.5vh;
        grid-template-rows: 17.5vh 65vh 17.5vh;
        grid-template-areas: 
            'title'
            'product' 
            'splash-btn';
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-splash {
        -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
        -ms-grid-rows: 17.5vh 65vh 17.5vh;
        grid-template-rows: 17.5vh 65vh 17.5vh;
        grid-template-areas: 
            'title'
            'product' 
            'splash-btn';
    }

}

.l-splash-btn {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: splash-btn;
    align-self: flex-start;
}

@media only screen and (max-width: 600px) {
    .l-splash-btn {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    } 
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-splash-btn {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    } 
}

.l-splash > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: center;
        justify-self: center;
}

.l-title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

@media only screen and (max-width: 600px) {
    .l-splash-btn {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .l-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
}

@media only screen and (max-width: 600px) {
    .l-title {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    } 
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-splash-btn {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .l-title {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .l-title {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    } 
}

/*
====================
    03. modules
====================
*/

.btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 2.75vw;
    border-radius: 10px;
    border: none;
    z-index: 0;
    width: 10vw;
    height: 3vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .btn {
        width: 33vw;
        height: 10vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .btn {
        width: 33vw;
        height: 10vw;
    }
}

.btn-text {
  color: white;
  font-size: 1vw;
  position: relative;
  z-index: 1;
  opacity: 0.85;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out, filter 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, filter 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, filter 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out;
}


.btn-bg {
    background-color: hsl(0, 0%, 15%);
    -webkit-filter: blur(3.5px);
    filter: blur(3.5px);
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: -webkit-filter 0.25s ease-in-out;
    transition: -webkit-filter 0.25s ease-in-out;
    -o-transition: filter 0.25s ease-in-out;
    transition: filter 0.25s ease-in-out;
    transition: filter 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out;
}


.btn:hover > .btn-text {
    opacity: 0.95;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.btn:hover > .btn-bg {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

@media only screen and (max-width: 600px) {
    .btn-text {
        font-size: 3vw;  
        opacity: 0.95;
        -webkit-filter: unset;
                filter: unset;
        -webkit-transition: unset;
        transition: unset;
        -o-transition: unset;
        transition: unset;
        transition: unset;
    }

    .btn-bg {
        -webkit-filter: blur(2px);
        filter: blur(2px);
        -webkit-transition: unset;
        transition: unset;
        -o-transition: unset;
        transition: unset;
        transition: unset;
    }

    .btn:hover > .btn-text {
        opacity: inherit;
        -webkit-filter: inherit;
        filter: inherit;
    }
    
    .btn:hover > .btn-bg {
        -webkit-filter: inherit;
        filter: inherit;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .btn-text {
        font-size: 3vw;  
        opacity: 0.95;
        -webkit-filter: unset;
                filter: unset;
        -webkit-transition: unset;
        transition: unset;
        -o-transition: unset;
        transition: unset;
        transition: unset;
    }

    .btn-bg {
        -webkit-filter: blur(2px);
        filter: blur(2px);
        -webkit-transition: unset;
        transition: unset;
        -o-transition: unset;
        transition: unset;
        transition: unset;
    }

    .btn:hover > .btn-text {
        opacity: inherit;
        -webkit-filter: inherit;
        filter: inherit;
    }
    
    .btn:hover > .btn-bg {
        -webkit-filter: inherit;
        filter: inherit;
    }
}

.email-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2vh;
}

.email-form input {
    width: 100%;
    padding: 10px 40px 10px 0;
    margin: 0 0 10px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #aaa;
    color: #000;
    font-size: 16px;
    line-height: 19px;
    background: none;
    outline: none;
}

@media only screen and (max-width: 600px) {
    .email-form input::-webkit-input-placeholder {
        font-size: 3vw;
    }
    .email-form input::-moz-placeholder {
        font-size: 3vw;
    }
    .email-form input:-ms-input-placeholder {
        font-size: 3vw;
    }
    .email-form input::-ms-input-placeholder {
        font-size: 3vw;
    }
    .email-form input::placeholder {
        font-size: 3vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .email-form input::-webkit-input-placeholder {
        font-size: 3vw;
    }
    .email-form input::-moz-placeholder {
        font-size: 3vw;
    }
    .email-form input:-ms-input-placeholder {
        font-size: 3vw;
    }
    .email-form input::-ms-input-placeholder {
        font-size: 3vw;
    }
    .email-form input::placeholder {
        font-size: 3vw;
    }
}

.email-form button {
    background: none;
    border: none;
    font-size: 2vw;
    color: rgba(0,0,0,0.25);
    position: relative;
    left: -25px;
    padding: 10px 40px 10px 0;
}

@media only screen and (max-width: 600px) {
    .email-form button {
        font-size: 7vw;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .email-form button {
        font-size: 7vw;
        padding: 0;
    }
}

.footer-block-a { 
    -ms-grid-row: 1; 
    -ms-grid-column: 1; 
    grid-area: block-a;
}

.footer-block-b { 
    -ms-grid-row: 1; 
    -ms-grid-column: 2; 
    grid-area: block-b;
}

.footer-block-c { 
    -ms-grid-row: 1; 
    -ms-grid-column: 3; 
    grid-area: block-c;
}

.footer-form {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: form;
}

@media only screen and (max-width: 600px) {
    .footer-block-a {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .footer-block-b {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .footer-block-c {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .footer-form {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-block-a {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .footer-block-b {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    .footer-block-c {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .footer-form {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}

@media only screen and (max-width: 600px) {
    .footer-form {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-form {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
}

.footer-form > div {
    width: 100%;
}

.footer-icons {
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .footer-icons {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-icons {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.footer-icons > div {
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 100%;
    width: 1vw;
    height: 1vw;
    font-size: 1.25vw;
    background-color: hsl(0, 0%, 15%);
    margin-right: 2vw;
}

@media only screen and (max-width: 600px) {
    .footer-icons > div {
        width: 3vw;
        height: 3vw;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .footer-icons > div {
        width: 3vw;
        height: 3vw;
    }
}

.footer-legal {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .footer-legal {
        width: 96%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-legal {
        width: 96%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
}

@media only screen and (max-width: 600px) {
    .footer-text {
        font-size: 3vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-text {
        font-size: 3vw;
    }
}

.info-text-a {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: info-text-a;
}

.info-img-a {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: info-img-a;
}

.info-text-b {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: info-text-b;
}

.info-img-b {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: info-img-b;
}

.info-text-c {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: info-text-c;
}

 @media only screen and (max-width: 600px) {
    .info-text-c > div {
        height: 10vh;
        background-color: hsl(30, 0%, 95%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 110%;
        -webkit-box-shadow: inset 3px 3px 20px hsl(0deg 0% 98%);
                box-shadow: inset 3px 3px 20px hsl(0deg 0% 98%);
    }
} 

@media (min-width: 768px) and (max-width: 1024px) {
    .info-text-c > div {
        height: 10vh;
        background-color: hsl(30, 0%, 95%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 110%;
        -webkit-box-shadow: inset 3px 3px 20px hsl(0deg 0% 98%);
                box-shadow: inset 3px 3px 20px hsl(0deg 0% 98%);
    }
} 

.info-img-c {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: info-img-c;
}

.info-text-d {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: info-text-d;
}

@media only screen and (max-width: 600px) {
    .info-text-a {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .info-img-a {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .info-text-b {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .info-img-b {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .info-text-c {
        -ms-grid-row: 11;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .info-img-c {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .info-text-a {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .info-img-a {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .info-text-b {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .info-img-b {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .info-text-c {
        -ms-grid-row: 11;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .info-img-c {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }
}

.info-text-a, .info-img-a, .info-text-c, .info-img-c {
    background-color:hsl(30, 0%, 95%);
}

@media only screen and (max-width: 600px) {
    .info-img-a, .info-img-b, .info-img-c, .info-text-c {
        background-color: unset;
    } 

    .info-text-b {
        background-color:hsl(30, 0%, 95%); 
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .info-img-a, .info-img-b, .info-img-c, .info-text-c {
        background-color: unset;
    } 

    .info-text-b {
        background-color:hsl(30, 0%, 95%); 
    }

}

.specs-checklist {
    width: 75%;
    display: -ms-grid;
    display: grid;
    padding: 3vw 0;
    -ms-grid-columns: 25% 25% 25% 25%;
    grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 50% 50%;
    grid-template-rows: 50% 50%;
}

.specs-checklist > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.specs-checklist > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.specs-checklist > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.specs-checklist > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
}

.specs-checklist > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.specs-checklist > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.specs-checklist > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
}

.specs-checklist > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
}

@media only screen and (max-width: 600px) {
    .specs-checklist {
        width: 100%;
        height: 90%;
        -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        padding: 5vw 0;
    }
    .specs-checklist > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .specs-checklist > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .specs-checklist > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .specs-checklist > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .specs-checklist > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .specs-checklist > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    .specs-checklist > *:nth-child(7) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    .specs-checklist > *:nth-child(8) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .specs-checklist {
        width: 100%;
        height: 90%;
        -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        padding: 5vw 0;
    }
    .specs-checklist > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .specs-checklist > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .specs-checklist > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .specs-checklist > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .specs-checklist > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .specs-checklist > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    .specs-checklist > *:nth-child(7) {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    .specs-checklist > *:nth-child(8) {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
    }
}

.specs-checklist > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.specs-checklist .question {
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 100%;
    width: 1.5vw;
    height: 1.5vw;
    font-size: 1.25vw;
    background-color: hsl(0, 0%, 15%);
    color: white;
    text-align: center;
    margin: 1vw;
}

@media only screen and (max-width: 600px) {
    .specs-checklist .question {
        width: 5vw;
        height: 5vw;
        margin: 3.5vw;
        font-size: 4vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .specs-checklist .question {
        width: 5vw;
        height: 5vw;
        margin: 3.5vw;
        font-size: 4vw;
    }
}

.specs-title {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.specs-title h2 {
    font-size: 2.5vw;
    font-weight: 100;
    margin: 0;
  }

@media only screen and (max-width: 600px) {
    .specs-title {
        width: 100%;
        height: 10%;
    }

    .specs-title h2 {
        font-size: 10vw;
        font-weight: 100;
        margin: 0;
      }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .specs-title {
        width: 100%;
        height: 10%;
    }

    .specs-title h2 {
        font-size: 10vw;
        font-weight: 100;
        margin: 0;
      }
}

.title h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12.5vw;
  font-weight: 700;
  margin: -3.75vw 0 1.25vw 0;
  line-height: .825;
}

@media only screen and (max-width: 600px) {
  .title h1 {
      font-size: 22.5vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title h1 {
        font-size: 22.5vw;
    }
  }

.title .superscript {
  font-size: 3.75vw; 
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .title .superscript {
      font-size: 5vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title .superscript {
        font-size: 5vw;
    }
  }

.title .subtitle {
    text-transform: uppercase;
    font-size: 1.215vw;
    font-weight: 100;
    margin: 0;
}

@media only screen and (max-width: 600px) {
  .title .subtitle {
      font-size: 2.175vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title .subtitle {
        font-size: 2.175vw;
    }
  }

/*
====================
    03. state
====================
*/

.is-not-visible {
    opacity: 0;
}

.is-visible {
    -webkit-animation-name: intersect-fade;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: normal;
            animation-name: intersect-fade;
            animation-duration: 1s;
            animation-timing-function: ease-in;
            animation-direction: normal;
}

.is-visible-delay {
    -webkit-animation-name: intersect-fade-delay;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.25s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: normal;
            animation-name: intersect-fade-delay;
            animation-duration: 1s;
            animation-delay: 0.25s;
            animation-timing-function: ease-in;
            animation-direction: normal;
}

.is-visible-wipe {
    -webkit-animation-name: intersect-wipe;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: normal;
            animation-name: intersect-wipe;
            animation-duration: 1.5s;
            animation-timing-function: ease-in;
            animation-direction: normal;
}

.is-visible-title {
    -webkit-animation-name: title-wipe;
    -webkit-animation-duration: 0.45s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: normal;
            animation-name: title-wipe;
            animation-duration: 0.45s;
            animation-timing-function: ease-in;
            animation-direction: normal;
}

.is-visible-button {
    -webkit-animation-name: intersect-fade;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-direction: normal;
            animation-name: intersect-fade;
            animation-duration: 0.5s;
            animation-timing-function: ease-in;
            animation-direction: normal;
}

@-webkit-keyframes intersect-fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes intersect-fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@-webkit-keyframes intersect-fade-delay {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes intersect-fade-delay {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@-webkit-keyframes intersect-wipe {
    0% {
        opacity: 0%;
        -webkit-clip-path: inset(0 100% 0 0);
                clip-path: inset(0 100% 0 0);
    }

    100% {
        opacity: 100%;
        -webkit-clip-path: inset(0 0% 0 0);
                clip-path: inset(0 0% 0 0);
    }
}

@keyframes intersect-wipe {
    0% {
        opacity: 0;
        -webkit-clip-path: inset(0 100% 0 0);
                clip-path: inset(0 100% 0 0);
    }

    100% {
        opacity: 100%;
        -webkit-clip-path: inset(0 0% 0 0);
                clip-path: inset(0 0% 0 0);
    }
}

@media only screen and (max-width: 600px) {
    @-webkit-keyframes intersect-wipe {
        0% {
            opacity: 0;
            -webkit-clip-path: inset(0 0 100% 0);
                    clip-path: inset(0 0 100% 0);
        }

        100% {
            opacity: 100%;
            -webkit-clip-path: inset(0 0 0% 0);
                    clip-path: inset(0 0 0% 0);
        }
    }
    @keyframes intersect-wipe {
        0% {
            opacity: 0;
            -webkit-clip-path: inset(0 0 100% 0);
                    clip-path: inset(0 0 100% 0);
        }
    
        100% {
            opacity: 100%;
            -webkit-clip-path: inset(0 0 0% 0);
                    clip-path: inset(0 0 0% 0);
        }
    }
}

@-webkit-keyframes title-wipe {
    0% {
        opacity: 0;
        -webkit-clip-path: inset(0 100% 0 0);
                clip-path: inset(0 100% 0 0);
    }

    100% {
        opacity: 100%;
        -webkit-clip-path: inset(0 0% 0 0);
                clip-path: inset(0 0% 0 0);
    }
}

@keyframes title-wipe {
    0% {
        opacity: 0;
        -webkit-clip-path: inset(0 100% 0 0);
                clip-path: inset(0 100% 0 0);
    }

    100% {
        opacity: 100%;
        -webkit-clip-path: inset(0 0% 0 0);
                clip-path: inset(0 0% 0 0);
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    @-webkit-keyframes intersect-wipe {
        0% {
            opacity: 0;
            -webkit-clip-path: inset(0 0 100% 0);
                    clip-path: inset(0 0 100% 0);
        }

        100% {
            opacity: 100%;
            -webkit-clip-path: inset(0 0 0% 0);
                    clip-path: inset(0 0 0% 0);
        }
    }
    @keyframes intersect-wipe {
        0% {
            opacity: 0;
            -webkit-clip-path: inset(0 0 100% 0);
                    clip-path: inset(0 0 100% 0);
        }
    
        100% {
            opacity: 100%;
            -webkit-clip-path: inset(0 0 0% 0);
                    clip-path: inset(0 0 0% 0);
        }
    }
}

@-webkit-keyframes title-wipe {
    0% {
        opacity: 0;
        -webkit-clip-path: inset(0 100% 0 0);
                clip-path: inset(0 100% 0 0);
    }

    100% {
        opacity: 100%;
        -webkit-clip-path: inset(0 0% 0 0);
                clip-path: inset(0 0% 0 0);
    }
}

@keyframes title-wipe {
    0% {
        opacity: 0;
        -webkit-clip-path: inset(0 100% 0 0);
                clip-path: inset(0 100% 0 0);
    }

    100% {
        opacity: 100%;
        -webkit-clip-path: inset(0 0% 0 0);
                clip-path: inset(0 0% 0 0);
    }
}